<div id="<%= dom_id node %>">
  <p class="container">
    <strong>Name:</strong>
    <%= node.name %>
  </p>

  <p class="container">
    <strong>Place:</strong>
    <%= node&.place&.name %>
  </p>

</div>
