<h2 class="container">Editing node</h2>

<%= render "form", node: @node %>

<br>

<div class="container">
  <%#= link_to "Show this node", @node %>
  <%= link_to "Back to nodes", nodes_path ,class: "btn btn-dark"%>
</div>
