<h2>Editing user</h2>

<%= render "form", user: @user %>

<br>

<div class="row">
  <%#= link_to "Show this user", manage_path(@user)  %>
  <%= link_to "Back to users", manages_path ,class: "btn btn-warning"%>
</div>
