<div id="<%= dom_id state %>" >
  <p class="form">
    <strong>Name: </strong>
    <%= state.name %>
    
  </p>

  <p class="form">
    <strong>Country: </strong>
    <%= state&.country&.name %>
  </p>

</div>

