<h2>Editing country</h2>

<%= render "form", country: @country %>

<br>

<div>
  <%#= link_to "Show this country", @country %>
  <%= link_to "Back", countries_path ,class: "btn btn-warning"%>
</div>

