
<select id="company_city_id" name="company[city_id]" class="input-md textinput textInput form-control"><option value="">--select state--</option>
<% @cities.each do |city| %>
   <option value="<%= city.id%>"><%= city.name%></option>
<%end%>
</select>