<h2 class="container">Editing city</h2><br>

<%= render "form", city: @city %>

<br>

<div class="container">
 <!--  <%= link_to "Show this city", @city %> | -->
  <%= link_to "Back to cities", cities_path , class: "btn btn-success"%>
</div>
